@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto+Mono&family=Silkscreen:wght@700&display=swap');

* {
    margin: 0px;
}

body {
background-color: black;
color: rgb(255, 255, 255);
}

/* Setting the positioning, colours and size of the content */

#title {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 1.3em;
    font-family: 'Silkscreen', cursive;
    color: magenta;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 550px;
    max-width: 90%;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px double cyan;
}

/* initial page load styling */

#game-logo {
    width: 100%;
    max-height: 300px;
}

#intro-lore {
    font-family: 'Bitter', serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#user-name {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#start-game {
    font-family: 'Silkscreen', cursive;
    padding: 10px;
}

#look-below {
    font-family: 'Roboto Mono', monospace;
    padding-top: 15px;
    padding-bottom: 15px;
}

#score-box {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 25px;
    align-items: center;
}

#reset-game-button {
    height: 40px;
}

#win-score {
    color: cyan;
}

#loss-score {
    color: magenta;
}

#info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
}

#instructions {
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

#instruct-text {
    padding-left: 10%;
    padding-right: 10%;
}

#type-chart {
    width: 100%;
}

#type-img {
    width: 100%;
    align-items: center;
}

#read-again {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: black;
    z-index: 2;
    color: magenta;
    position: sticky;
    bottom: 0;
    height: 50px;
}

.social {
    height: 45px;
    width: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    display: none;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 10px;
}

button {
    font-family: 'Roboto Mono', monospace;
}

/* Media queries to help things scale at high widths */

@media screen and (min-width: 820px) {
    #game-logo {
        max-height: 325px;
    }
}

@media screen and (min-width: 550px) {
    #type-img {
        max-height: 500px;
        object-fit: contain;
    }

    #title {
        font-size: 2em;
    }
}

/* Media queries to help things scale at low widths */

@media screen and (max-width: 350px) {
    .social {
        width: 30px;
        height: 30px;
    }

    #footer {
        height: 40px;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    #game-area {
        max-width: 95%;
        width: 95%;
        margin: 1px;
        padding: 5px;
    }

    #instruct-text {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 520px) {
    #look-below {
        font-size: 12px;
    }
}

/* loaded fight initial styling and positioning */

#game-area > #top-row-game {
    display: flex;
    align-items: center;
}

#game-area > #top-row-game > span > #new-fight-button {
    position: relative;
    left: -80%;
    height: 40px;
}

#game-area > #top-row-game > #enemy-info {
    position: relative;
    right: -20%;
}

#enemy-name {
    font-family: 'Silkscreen', cursive;
}

#enemy-hp {
    font-family: 'Silkscreen', cursive;
}

#game-area > #top-row-game > #enemy-info > #enemy-hp {
    width: 100px;
    height: 15px;
    background-color: magenta;
}

#game-area > #move-log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enemy-image {
    max-width: 250px
}

#game-area > #player-abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game-area > #player-abilities > button {
    margin: 3px;
    height: 40px;
    min-width: 75px;
}
#game-area > #bottom-row-game {
    display: flex;
    align-items: center;
}

#game-area > #bottom-row-game > #player-info {
    position: relative;
    left: -20%;
}

#player-name {
    font-family: 'Silkscreen', cursive;
}

#player-hp {
    font-family: 'Silkscreen', cursive;
}

#game-area > #bottom-row-game > #player-info > #player-hp {
    width: 100px;
    height: 15px;
    background-color: cyan;
}

#game-area > #bottom-row-game > span > #instructions-button {
    position: relative;
    right: -75%;
    height: 40px;
}

/* Floating instruction box styling */

#info-float {
    display: none;
    border: 5px double aqua;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    position: absolute;
    background-color: black;
}

#info-float > p {
    padding-top: 7px;
    padding-bottom: 7px;
}

#info-float > button {
    width: 100px;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

/* Player Victory and Defeat screens */

#end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 200px 10px 0px 10px;
}

#end-screen > p {
    padding-bottom: 50px;
}

#fight-on-button {
    width: 100px;
    height: 50px;
}